.container button {
  padding: 10px 20px;
  margin-right: 25px;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 5px;
}
.container button:hover {
  transform: translateX(10px);
  background-color: #ffcdd2;
  color: #fff;
}
.container button:active {
  transform: translateX(-10px);
  background-color: #ffb74d;
}
