.main {
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.5s ease-in;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: beige;
  border-radius: 15px;
  text-align: start;
  margin-left: 25%;
  margin-right: 10px;
  margin-top: 10px;
  padding: 20px;
  width: 50%;
  justify-content: center;
  align-self: center;
}
.containicon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icontec{
  width: 3vh;
}
.icon {
  width: 20%;
  margin: 50px;
}
.list li{
  text-decoration: none;
  list-style: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
