html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/backgroud.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
body::-webkit-scrollbar {
  width: 1em;
  background-color: #414142;
}
body::-webkit-scrollbar-thumb {
  background: #c73b31;
  border-radius: 1em;
}
body::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}



