.main {
  display: inline;
  position: relative;
  background-color: red;
  border-radius: 5px;
  width: 200px;
  height: 250px;
  margin: 20px;
  overflow: hidden;
  background-image: url(../../assets/CardTemplate.png);
  border: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.info {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(1, 161, 161);
}
.img {
  max-width: 50%;
  max-height: 50%;
  min-height: 50%;
  transition: 1s;
}
.img:hover {
  transform: scale(1.2);
  cursor: url(../../assets/cursor/cursorpointer.png), pointer;
}
.icon{
  padding-top: 20px;
  height: 20px;
}
