.main {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 90%;
  left: 5%;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10%;
  animation: fadeIn 0.5s ease-in;
  margin-bottom: 10%;
}
.containtbutton {
  margin: 10px;
  height: 30px;
  display: flex;
  position: relative;
}
.button {
  display: flex;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  font-weight: 1000;
  font-size: 16px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  align-items: center;
}
.button:hover {
  color: #fd1500;
}
.animated {
  animation: fadeIn 0.5s ease-in;
}
.filter {
  filter: brightness(50%);
  animation: fadeIn 0.5s ease-in;
}
.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #b3b3b3;
  transition: all 0.3s ease-in-out;
  margin-top: 50px;
  margin-bottom: 10px;
  display: inline-flex;
  flex-direction: column;
}
.form input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: all 0.3s ease-in-out;
}
.form input:focus {
  background-color: #ffcdd2;
  box-shadow: 2px 2px 10px #e57373;
}
.form label {
  color: #333;
  font-weight: bold;
}
.form .button {
  background-color: #ffb74d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.form .button:hover {
  background-color: #ffa726;
}
.form .button:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 5px #b3b3b3;
}
.form p {
  color: #f44336;
  font-size: 12px;
  margin-top: 5px;
}
.ico {
  width: 30px;
}

.createcard {
  background-color: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #b3b3b3;
  margin-top: 50px;
  margin-bottom: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}
.img {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
.createcard .info {
  margin-top: 10px;
}
.createcard p {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e5e5e5;
}
.types {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #058ca0;
  border-radius: 20px;
  -webkit-box-shadow: 2px 3px 29px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 29px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 29px 3px rgba(0, 0, 0, 0.75);
}
.cards{
  display: flex;
}
.types {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #058ca0;
  border-radius: 20px;
  -webkit-box-shadow: 2px 3px 29px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 29px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 29px 3px rgba(0, 0, 0, 0.75);
}
.optiones {
  background-color: rgba(253, 253, 253, 0);
  border: none;
  display: inline-flex;
  margin: 10px;
  cursor: pointer;
}

.icocard {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 9px 3px rgba(0, 0, 0, 0.75);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}